/*
 * Based on Synthwave '84 Theme originally by Robb Owen [@Robb0wen] for Visual Studio Code
 * Originally ported for PrismJS by Marc Backes [@themarcba]
 */

pre[class*="language-"] {
  color: lab(64% 103 0);
  text-shadow: 0 0 10px lab(64% 103 0 / .5);
  background: rgb(255 255 255 / .05);
  display: block;
  padding: 20px;
  border-radius: 8px;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 13px;
  text-align: left;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: normal;
  word-wrap: break-word;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #8e8e8e;
  text-shadow: none;
}

.token.punctuation {
  color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.number,
.token.unit,
.token.hexcode,
.token.deleted,
.token.function {
  color: lch(65% 85 35);
  text-shadow: 0 0 10px lch(65% 85 35 / .5);
}

.token.property,
.token.selector {
  color: lch(85% 58 205);
  text-shadow: 0 0 10px lch(85% 58 205 / .5);
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.selector .token.id {
  color: #fdfdfd;
  text-shadow: 0 0 2px #001716, 0 0 3px #03edf975, 0 0 5px #03edf975, 0 0 8px #03edf975;
}

.token.class-name {
  color: #fff5f6;
  text-shadow: 0 0 2px #000, 0 0 10px #fc1f2c75, 0 0 5px #fc1f2c75, 0 0 25px #fc1f2c75;
}

.token.constant,
.token.symbol {
  color: lab(64% 103 0);
  text-shadow: 0 0 2px #100c0f, 0 0 5px #dc078e33, 0 0 10px #fff3;
}

.token.important,
.token.atrule,
.token.keyword,
.token.selector .token.class,
.token.builtin {
  color: #f4eee4;
  text-shadow: 0 0 2px #393a33, 0 0 8px #f39f0575, 0 0 2px #f39f0575;
}

.token.string,
.token.string-property,
.token.char,
.token.attr-value,
.token.regex,
.token.variable,
.token.url {
  color: lch(85% 82.34 80.104);
  text-shadow: 0 0 10px lch(85% 82.34 80.104 / .5);
}

.token.operator,
.token.entity {
  color: #67cdcc;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}
